:root {
    --background-color: #ffffff;
  }
  
  html {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  body {
    background-color: var(--background-color);
  }
  
  h1, h2, h3, p {
    margin: 0;
  }

  input {
    border: none;
    border-bottom: 1px solid gray;
  }

  input:focus {
    outline: none
  }

  button:disabled {
    background-color: grey
  }

  @import url(./blocks/auth/auth.css);
  @import url(./blocks/auth/__title/auth__title.css);
  @import url(./blocks/auth/__description/auth__description.css);
  @import url(./blocks/auth/__form/auth__form.css);
  @import url(./blocks/auth/__label/auth__label.css);
  @import url(./blocks/auth/__input/auth__input.css);
  @import url(./blocks/auth/__submit/auth__submit.css);
  @import url(./blocks/auth/__form/__error/auth__form__error.css);
  @import url(./blocks/auth/__input/__error/auth__input__error.css);